html{
    /* +++++++++++++++ */
    overflow: hidden; 
    /* +++++++++++++++ */
    scroll-behavior:smooth;
}
body{
    font-family: 'Courgette', cursive;
    color:black;
}
.text-header{
    font-size: 1.2em;
    color: #5757ee;
}
li{
    list-style: url('../img/star.svg');
}
.logo-img{
    height:100px;
}
#logo-txt{
    color: black;
    font-size: 1rem;
    font-family: 'Courgette', cursive;
}
.header{
    height: 25vh;
    filter: blur(300px);
}
.no-blur{
    filter: blur(0px);
    transition: 1500ms;
}
.main{
    height: 100vh;
}
#img1,#img2 {
    width:40vw;
}
#img3{
    width: 80vw;
}
@media (min-width: 480px) {
    #img1,#img2 {
        display: none;
    }
    #img3{
        max-width: 700px;
    }
    @media (orientation: landscape) {
        #img1,#img2 {
            display: none;
        }
        #img3{
            display: none;
        }
        .logo-img{
            height:60vh;
        }
      }
  }
/* <!-- ******************* Liste des produits ******************** --> */

#liste-produit{
    /* +++++++++++++++ */
    display:none; 
    /* +++++++++++++++ */
    border-radius: 50px 0px 60px 0px;
    color: cornsilk;
    background:linear-gradient(45deg,#901d78,#b778aa,#db214c);
}
#liste-produit h1{
    color: black;
    font-size: 1rem;

}
/* <!-- *********************** Information ***************************** --> */
#information{
    /* +++++++++++++++ */
    display:none; 
    /* +++++++++++++++ */
    min-height: 100vh;
    background:linear-gradient(45deg,#c0eee1,#5bcbab,#aadcce);
    border-radius: 5px 60px 25px 0px;
    


}

/* <!-- *********************** Map ***************************** --> */
#map{
    /* +++++++++++++++ */
    display:none; 
    /* +++++++++++++++ */
    border-radius: 0 50px 0 60px 0;
    height: 100vh;
    overflow: hidden;
}

/* <!-- *********************** Footer ***************************** --> */
footer{
    /* +++++++++++++++ */
    display:none; 
    /* +++++++++++++++ */

    border-top: solid rgb(245, 242, 242) 2px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    background:linear-gradient(90deg,#901d78,#b778aa,#db214c);
    height: 10vh;
    border-radius:20px 20px 0px 0px ;
}

.nav{
    height: 100%;
   padding-top: 2vh;
}
.nav i{
    font-size:6vh; 
}